.find-a-room-section {
	padding: 60px;
	background: #fff;
	color: #000;
}

.find-a-room-section .headings {
	text-align: left;
}

.find-a-room-section .sub-header {
	font-size: 24px;
}

.form-wrapper {
	justify-content: space-between;
	margin: 50px 0;
}

.form-control {
	align-items: flex-start;
}

.form-control label {
	font-weight: bold;
}

.form-control input {
	width: 210px;
	padding: 5px;
}

.button-style input {
	padding: 7px 0;
	width: 150px;
	font-size: 18px;
	border-style: none;
	background-color: #61a8fc;
}
