@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #c4c4c4;
	text-align: center;
	font-family: "Roboto", sans-serif;
	color: #fff;
}

header {
	width: 100%;
	position: fixed;
	padding: 20px 0;
	top: 0;
	left: 0;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	width: 150px;
}

nav {
	margin-top: 20px;
	width: 660px;
}
ul {
	list-style-type: none;
}

nav ul {
	display: flex;
	justify-content: space-evenly;
	font-size: 20px;
}

section,
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.header {
	font-size: 45px;
}

.sub-header {
	font-size: 36px;
}

.wrapper {
	width: 1000px;
}
.flex-column {
	display: flex;
	flex-direction: column;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

/* hero section*/

.hero-title-section {
	background: url(./images/hero_section_img_bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hero-title-section .title-and-description {
	width: 700px;
}

.hero-title-section .title-and-description h1 {
	font-size: 60px;
}

.hero-title-section .title-and-description p {
	margin-top: 25px;
	font-size: 20px;
}

/*about us section*/

.about-us-section {
	background-color: #0c1310;
	padding: 100px 0;
}

.about-us-wrapper {
	justify-content: space-between;
	align-items: center;
}

.about-us-wrapper .image-slider img {
	width: 320px;
	height: 320px;
}

.about-us-wrapper .text-group {
	text-align: left;
	width: 60%;
	height: 320px;
	justify-content: space-between;
	align-items: flex-start;
}

.about-us-wrapper .text-group .sub-header {
	color: #f89f1b;
}

.about-us-wrapper .text-group #description {
	font-size: 18px;
}

.about-us-wrapper .text-group button {
	padding: 10px 0;
	font-size: 20px;
	background-color: #f5a303;
	border-style: none;
	width: 180px;
}
/*find a room section*/

.find-a-room-section {
	padding: 60px;
	background: #fff;
	color: #000;
}

.find-a-room-section .headings {
	text-align: left;
}

.find-a-room-section .sub-header {
	font-size: 24px;
}

.form-wrapper {
	justify-content: space-between;
	margin: 50px 0;
}

.form-control {
	align-items: flex-start;
}

.form-control label {
	font-weight: bold;
}

.form-control input {
	width: 210px;
	padding: 5px;
}

#find-room-button input {
	padding: 7px 0;
	width: 150px;
	font-size: 18px;
	border-style: none;
	background-color: #61a8fc;
}
/*footer*/

footer {
	padding: 60px 0;
	text-align: left;
	background-color: #262626;
}

footer .sitemap,
footer .contacts {
	width: 50%;
	align-items: flex-start;
	justify-content: flex-start;
}

footer .sitemap .header {
	font-size: 36px;
}

footer .sitemap .sub-header {
	margin-top: 10px;
	font-size: 24px;
}
footer .sitemap ul {
	font-size: 20px;
	margin: 20px 0;
}
footer .sitemap ul li {
	line-height: 30px;
	font-size: 16px;
}

footer .logo {
	width: 160px;
	height: auto;
}

footer .contacts ul {
	margin: 20px 0;
}

footer .contacts ul li,
footer .contacts:last-child {
	line-height: 25px;
}

footer .contacts ul li img {
	width: 18px;
	height: auto;
	margin-right: 5px;
}

.copyright {
	text-align: left;
	padding: 20px 150px;
	width: 100%;
	background-color: #1e1d1d;
}
.copyright p {
	font-size: 12px;
}
